<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="nl">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="Content-Type" content="text/html charset=UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0 " />
    <meta name="format-detection" content="telephone=no" />
    <!--[if !mso]><! -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
    <!--<![endif]-->
</head>

<body>
<p style="margin:0; font-family:sans-serif; letter-spacing:normal; line-height:1.6;">Beste</p><br/>
<p style="margin:0; font-family:sans-serif; letter-spacing:normal; line-height:1.6;">Uw bestuur &quot;{{name}}&quot; heeft automatische-meldingen ontvangen op het <a href="http://loket.lokaalbestuur.vlaanderen.be" target="_blank">Loket voor Lokale Besturen</a>, Module Toezicht, die uw verdere aandacht vereisen.</p><br/>
<p style="margin:0; font-family:sans-serif; letter-spacing:normal; line-height:1.6;">Gelieve onderstaande meldingen zo snel mogelijk te controleren:</p>
<ul style="margin:0; font-family:sans-serif; letter-spacing:normal; line-height:1.6;">
    {{#each submissions}}
        <li style="margin:0; font-family:sans-serif; letter-spacing:normal; line-height:1.6;">{{this}}</li>
    {{/each}}
</ul><br/>
<p style="margin:0; font-family:sans-serif; letter-spacing:normal; line-height:1.6;">Met Vriendelijke Groet</p>
<p style="margin:0; font-family:sans-serif; letter-spacing:normal; line-height:1.6;">Agentschap Binnenlands Bestuur</p><br/><br/>
<p style="color:gray; margin:0; line-height:1.6; font-family:sans-serif; letter-spacing:normal; font-size:14px;">Opgelet, reageren op deze mail kan niet. Voor vragen over het Loket voor Lokale Besturen, mail naar <a href="mailto:loketlokaalbestuur@vlaanderen.be" target="_blank">loketlokaalbestuur@vlaanderen.be</a>. Voor inhoudelijke vragen kan u mailen naar het algemeen mailadres <a href="mailto:binnenland@vlaanderen.be" target="_blank">binnenland@vlaanderen.be</a>.</p>
</body>
</html>